<div class="user-full-wrapper">

  {% if content.user_picture %}
    <div class="user-full-image-wrapper user-item">
      {{ content.user_picture }}
    </div>
  {% endif %}

  {% if content.user_first_name or content.user_last_name or content.user_title %}
    <div class="user-details user-item">
      {% if content.user_first_name or content.user_last_name %}
        <h3>{{ content.user_first_name }} {{ content.user_last_name }}</h3>
      {% endif %}
      {% if content.user_title %}
        <p>{{ content.user_title }}</p>
      {% endif %}
    </div>
  {% endif %}

  {% if content.user_bio %}
    <div class="user-info user-item">
      <h2>Biography</h2>
      <p>{{ content.user_bio }}</p>
    </div>
  {% endif %}
  
</div>
